body {
	background-color: #BFB9AF;
	margin: 0;
	font-family: Arial;
	height: 100%;
	
}

table {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#page {
	width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	box-shadow: 0 0 50px rgba(0,0,0,1);
}

#content {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-top: 20px;
}

#navi {
	background-color: #123456;
	width: 800px;
	height: 60px;
	position: fixed;
	top: 0;
}

#navi li {
	list-style: none;
	float: left;
	padding: 10px;
	width: 240px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

#navi li a{
	background-color: #15df84;
	border: 1px solid;
	list-style: none;
}

#footer {
	background-color: #123456;
	width: 800px;
	height: 60px;
	*position: fixed;
	*bottom: 0;
}